# для того, чтобы не хранить в истории конфигурацию поставщика
*.cf

# проигнорирует бин файлы только непосредственно в директории шаблонов
CommonTemplates/*.bin

# как в самой директории шаблонов, так и во всех ее подкаталогах
CommonTemplates/**/*.bin

# для таких конфигураций как ERP файл огромен и нам не нужно каждый 
# раз любоваться на его изменения
ConfigDumpInfo.xml
DumpFilesIndex.txt

#*.png
#Picture.xml
#Template.xml
#out1c.txt